@font-face {
  src: url("../font/Play-Regular.ttf");
  font-family: "play";
  font-weight: 400;
}

body {
  font-family: "play";
  display: grid;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  h1 {
    margin-top: 0;
  }
}
.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 1rem;

  &_btn {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: auto;
    font-size: 1rem;
    border-radius: 0.4rem;
    background-color: rgba(99, 30, 30, 0.547);
    border: none;
    color: white;

    &_hover {
      border: 2px solid brown;
    }
  }
}
.container-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-content: center;
  padding-block: 3rem;
  color: black;
}
.form-box {
  width: 100%;
  margin-top: 1rem;

}
@media (max-width: 850px) {
  .header{
    height: auto;
    flex-direction: column;
    gap: 2rem;
  }
  .container-box {
    font-size: 0.7rem;
    grid-template-columns: 1fr;
  }
  .sort{
    &__btns{
       gap: 0.4rem;
    padding: 0.3rem;
    }
  }

}
